.asideAccueil
{
	background : lightblue;
	flex:1;
}
.asideJeu
{
	padding-left:20px;
	background : darkgrey;
	flex:1;
}
.asideJeu h2
{
	color:white;
}

.containerAccueil
{
	display : flex;
	background:yellow;
	flex-direction: row;
	justify-content: space-between;
}
.artAccueil
{
	padding-top : 50px;
	padding-bottom : 50px;
	background: grey;
	text-align : center;
	flex:3;
	margin : auto;

	color: white;
	font: 1.4em bold; 
}


.adminButton
{
	position: absolute;
	right : 8px;
	bottom: 8px;
}

.navbar
{
	background : darkgrey;
}

.startButton
{
	margin-top:50px;
	margin-bottom:50px;
}
body, .containerAccueil
{
	background : lightgrey;
}