.asideAccueil
{
	background-image : url("../images/parchemin.png");
	background-repeat-x:no-repeat;
	background-position-x:center;
	height:800px;
	flex:1;
}
.asideJeu
{
	padding-left:20px;
	background : darkgrey;
	border-radius:20px;
	flex:1;
}
.asideJeu h2
{
	color:white;
}

.containerAccueil
{
	display : flex;
	background:yellow;
	flex-direction: row;
	justify-content: space-between;
	/*border: 1px darkgrey solid;*/
	width:1000px;
}
.artAccueil
{
	padding-top : 50px;
	padding-bottom : 50px;

	text-align : center;
	flex:3;
	margin : auto;

	color: white;
	font: 1.4em bold; 
}
.artAccueilImg
{
	background-image : url("../images/parcheminAccueil.png");
	background-repeat:no-repeat;
	background-position:center;
	height:550px;
	font-style: italic;
}


.adminButton
{
	position: absolute;
	right : 8px;
	bottom: 8px;
}

.navbar
{
	background : darkgrey;
}

.startButton
{
	margin-top:50px;
	margin-bottom:50px;
}
body, .containerAccueil
{
	background : lightgrey;
}